    <form method="POST" enctype="multipart/form-data" action="/doces">
        Nome : <input type="text" name="txtNome" placeholder="Nome"><br>
       
        <input type="submit" name="adicionar">
    </form>